.body {
  background-color: #e5e5e5;
  font-family: "Source Sans Pro", sans-serif;
}

.first-section {
  background-image: url(../assets/Background_1.png);
  background-repeat: no-repeat;
  background-size: 1200px 800px;
  width: 1200px;
  height: 800px;
  margin: 0 auto;
}

.second-section {
  background-color: #eee;
  width: 1200px;
  height: 700px;
  text-align: center;
  margin: 0 auto;
}

.third-section {
  background-image: url(../assets/Background_2.png);
  background-repeat: no-repeat;
  background-size: 1200px 637px;
  width: 1200px;
  height: 637px;
  text-align: center;
  margin: 0 auto;
}

footer {
  background-color: #464547;
  width: 1200px;
  height: 199px;
  margin: 0 auto;
}

/* font and color*/

#project-top {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  text-align: right;
}

#menu li a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.english-header {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #fff;
  text-align: center;
}
.second-section h2 {
  color: #464547;
}

.latin-header {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.first-section h2 {
  color: rgba(255, 255, 255, 0.7);
}

.second-section h3 {
  color: #666666;
}

.third-section h3 {
  color: #ffffff;
}

.article {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #666666;
}

#read-more {
  font-style: normal;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: #55c2d8;
  border-radius: 18px;
  border: 1px solid #55c2d8;
}

#start-button {
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  background: #39c2d7;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #39c2d7;
}

#project-button {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
}

.footer {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}

.footer a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

.footer i {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}

/* Size and position */

/* first section */

#project-top {
  position: relative;
  width: 91px;
  height: 16px;
  top: 45px;
  left: 152px;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  align-self: center;

  width: 498px;
  height: 18px;
  gap: 32px;
  margin-top: 23px;
  margin-left: 408px;
}

#menu li {
  flex: 0 0 auto;
}

#big-logo {
  width: 63px;
  height: 63px;
  margin: 209px auto 0;
  display: block;
}

.first-section h1 {
  width: 386px;
  height: 118px;
  margin: 13px auto 0;
}

.first-section h2 {
  width: 426px;
  height: 56px;
  margin: 42px auto 0;
}

/* second section */

.second-section h2 {
  box-sizing: content-box;
  width: 669px;
  height: 119px;
  padding-top: 66px;
  margin: 0 auto;
}

.second-section h3 {
  box-sizing: content-box;
  width: 426px;
  height: 57px;
  margin: 39px auto 0;
}

.article {
  display: grid;
  gap: 83px;
  margin: 45px auto 0;
  width: 915px;
  grid-template-columns: repeat(2, 1fr);
  height: 172px;
}

#first-paragraph {
  grid-column: 1 / 2;
}

#second-paragraph {
  grid-column: 2 / 3;
}

#read-more {
  margin: 46px auto 0;
}

/* third section */

.third-section h2 {
  width: 432px;
  height: 112px;
  box-sizing: content-box;
  padding-top: 80px;
  margin: 0 auto;
}

#start-button {
  width: 145px;
  height: 143.47px;
  margin: 63px auto 0;
}

.third-section h3 {
  width: 351px;
  height: 97.56px;
  margin: 54.55px auto 0;
}

/* footer */

.footer {
  box-sizing: content-box;
  display: grid;
  width: 910px;
  height: 162px;
  padding-top: 37px;
  margin: 0 auto;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.footer img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.footer span {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding-left: 36px;
  padding-top: 2px;
}

.footer i {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

.footer a {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.footer p {
  grid-column: 6 / 8;
  grid-row: 2 / 3;
}
